.homepage {
    /* margin: 5rem; */
}
.homepage{
    border-radius: 0;
    background-color: var(--homepage-bg);
    position: relative;
    height:100vh;
}

.main{
    border-radius: 10px;
    display: flex;
    justify-content:center ;
}

